body{
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #B0C4DE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#survey-form{
  background: #4682B4;
  max-width: 600px;
  margin: 40px auto;
  padding: 40px 30px 40px;
  border-radius: 10px;
  text-align: left;

}

fieldset {
  border: none;
  margin: 0;
  padding: 1.2em 0;
}

h1, p{
  margin: 1ema uto;
 text-align: center;
}

form{
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;

}

label{
  display: block;
  margin: 0  0;
  text-align: left;
}

label,
p {
  display: block;
  margin: 6px 0 2px;
}

input,
select,
textarea {
  display: block;
  width: 90%;
  max-width: 500px;
  margin: 0 auto 10px;
  padding: 8px;
  box-sizing: border-box;
}

input, textarea, select {
  background-color: #B0C4DE;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

input[type="radio"] {
  width: auto;
  display: inline-block;
  margin: 0 6px 0 0;
}

input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin-right: 8px;
}

label[class="checkbox"] {
  display: block;
  margin: 4px 0;
}

label[for^="recommend"] {
  display: inline-block;
  margin-right: 20px;
}

.inline {
  width: unset;
  margin: 0  0 0;
  vertical-align: middle;
}

button{

  background: #ADD8E6;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 30px 10px;

}