:root {
  --main-dark: #2c2c34;
  --main-accent: #8e44ad;
  --main-light-accent: #c496de;
  --main-bg: #f5f5f5;
  --main-white: #ffffff;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding-top: 60px;
  background-color: var(--main-bg);
}

p, h1, h2 {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 2.5rem;
  color: var(--main-white);
}

#navbar {
  background-color: var(--main-dark);
  width: 100%;
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}

.nav-list a {
  color: var(--main-white);
  text-decoration: none;
  display: block;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s;
}

.nav-list a:hover {
  background-color: var(--main-accent);
}

#welcome-section,
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: var(--main-white);
  background-image: linear-gradient(62deg, var(--main-accent) 0%, #65003c 100%);
}

#welcome-section h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

#welcome-section p {
  font-size: 1.5rem;
}

.projects-section {
  text-align: center;
  padding: 6rem 2rem;
  background-color: var(--main-dark);
}

.projects-section h2, .projects-section p {
    color: var(--main-white);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 3rem auto 6rem auto;
}

.project {
  background: var(--main-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.03);
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.project-title {
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
  color: var(--main-dark);
  margin: 0;
  color: black;
}

a {
  color: var(--main-white);
  text-decoration: none;
}

a:hover {
  color: var(--main-light-accent);
}

#profile-link {
  font-weight: bold;
  text-decoration: underline;
}

.contact-section-header h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.contact-details {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  border-bottom: 2px solid var(--main-white);
}

.contact-details:hover {
  transform: translateY(-5px);
  color: var(--main-light-accent);
  border-color: var(--main-light-accent);
}

@media (max-width: 600px) {
  #welcome-section h1 {
    font-size: 3rem;
  }
  
  .projects-section {
    padding: 4rem 1rem;
  }
  
  .contact-section-header h2 {
    font-size: 2rem;
  }
  
  .contact-links {
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .nav-list {
    margin-right: 0;
    justify-content: space-around;
    width: 100%;
  }
  
  .nav {
    justify-content: center;
  }
}